<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Culture Exchange</string>
		<key>subtitle</key>
		<string>https://www.facebook.com/cultureexchangegraz/</string>
		<key>latitude</key>
		<real>47.064505</real>
		<key>longitude</key>
		<real>15.44305</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Facebook</string>
		<key>subtitle</key>
		<string>https://www.facebook.com/</string>
		<key>latitude</key>
		<integer>47</integer>
		<key>longitude</key>
		<integer>11</integer>
	</dict>
</array>
</plist>
